.home-section {
  background-image: url(/images/kid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

/* .home-section .inner-header {
  padding-top: 150px;
} */

.inner-header-2 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.inner-header-2 h1 {
  margin-bottom: 30px;
}
